body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  justify-items: baseline;
}

a {
  margin-left: 2em;
  text-decoration: none;
  color: beige;
}

.add a{
  background-color: blueviolet;
  padding: 0.5em 0.8em;
  border-radius: 12px;
}

.save a{
  background-color: rgb(43, 156, 226);
  padding: 0.5em 0.8em;
  border-radius: 12px;
}

.load a{
  background-color: rgb(43, 226, 113);
  padding: 0.5em 0.8em;
  border-radius: 12px;
}